@keyframes slideToRight {
	from {
		transform: translateX(-20vw);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideToLeft {
	from {
		transform: translateX(20vw);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
