:root {
	--app-main-color: #fff176;
	--app-secondary-color: #c17900;
	--app-text-color: #000000;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: sans-serif;
}

body {
	font-size: 1.6rem;
	background-color: var(--app-main-color);
}
